<div ng-controller="loginController">

        <form class="form-horizontal" role="form" ng-submit="validateUser()">
            <div class="form-group">
                <label for="inputLogin" class="col-sm-2 control-label">Login</label>
                <div class="col-md-4">
                    <input type="Login" class="form-control" id="Login" placeholder="Login" required ng-model="user.login">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" required ng-model="user.password">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary">
                    <button type="button" class="btn btn-primary" ng-click="signUp()">Sign Up</button>
                </div>
            </div>
        </form>

</div>
