<div class="bs-example" ng-controller="SurveyRepositoryController">
     <div class="row col-md-4">
         <div class="input-group">
             <input type="text" class="form-control">
             <span class="input-group-btn">
                 <button class="btn btn-primary" type="button">Search</button>
             </span>
         </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
     <div class="row col-md-4">
         <div class="input-group">
             <span class="input-group-btn">
                 <button id="newSurveyButton" class="btn btn-primary" type="button" ui-sref=".create()">Create New Survey</button>
             </span>
         </div><!-- /input-group -->
     </div><!-- /.col-lg-6 -->
    <br />
    <div class="row col-md-12">
        <div class="panel panel-default">

            <!-- Table -->
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">#</th>
                        <th class="col-md-2">Owner</th>
                        <th class="col-md-6">Title</th>
                        <th class="col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="survey in surveys">
                        <th>{{survey.id}}</th>
                        <th>{{survey.ownerName}}</th>
                        <th>{{survey.title}}</th>
                        <td><button type="button" class="btn btn-primary">Send</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>