<!-- 
  <div class="bs-example bs-example-tabs" role="tabpanel" ng-if="user != null" ng-controller="WelcomeController">
	<h1>{{controllerName}}</h1>
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Inbox</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Survey Repository</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
      	 <br/>
         <div class="row col-md-12">
			<div ng-include="'/app/inbox/views/inbox.html'"></div>
		</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledBy="profile-tab">
      	 <br/>
         <div class="row col-md-12">
		 	<div ng-include="'/app/SurveyRepository/surveyrepository.html'"></div>
		 </div>
      </div>
    </div>
  </div>
   -->
  
<div ng-if="user != null" ng-controller="WelcomeController">

    <div class="navbar navbar-inverse">
    	<div class="navbar-inner">
    		<div class="container">			    
			    <ul class="nav navbar-nav">
			      <li><a ui-sref=".inbox">Inbox</a></li>
			      <li><a ui-sref=".surveyRepository">Survey Repository</a></li>
			    </ul>
			</div>
	    </div>
	</div>
    
    <!-- MENU CONTENT -->
	<div>
	    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
	    <div ui-view="" class="span9 slide"></div>
	</div>
    
</div>