<!doctype html>/
<html>
  <head>

    <title>My Angular App</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>    
  </head>
  <body ng-app="survey-app" ng-controller="MainController">

  	<div class="container col-md-12">
  	
	  	<div class="col-md-2"></div>
	  	
	  	<div class="col-md-8">
	
			  <div class="bs-example">
			    <nav id="navbar-example" class="navbar navbar-default navbar-static" role="navigation">
			      <div class="container-fluid">
			        <div class="navbar-header">
			          <a class="navbar-brand" href="#">Survey App V1.0</a>
			        </div>
			        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
			          <ul class="nav navbar-nav navbar-right">
			            <li id="fat-menu" class="dropdown" ng-if="user!=null">
			              <span id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
			                Welcome {{user.name}}!
			                <span class="caret"></span>
			              </span>
			              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
			                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="signOut()">Sign Out</a></li>	               
			              </ul>
			            </li>
			          </ul>
			        </div><!-- /.nav-collapse -->
			      </div><!-- /.container-fluid -->
			    </nav> <!-- /navbar-example -->
			  </div> <!-- /example -->
		  
		 <!-- <div ng-view=""></div>  -->
		 <div ui-view="" class="span9 slide"></div>
		  
		</div>
		<div class="col-md-2"></div>

	  
	
	</div>
   	
   	<!-- Infrastructure Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.11/angular-ui-router.min.js"></script>
   	
   	<!-- Application Specific Scripts -->
   	<script src="/app/app.js"></script>
   	<script src="/app/constants.js"></script>
   	<script src="/app/welcome/welcome.js"></script>

	<!-- survey designer -->
	<script src="/app/SurveyDesigner/SurveyDesignerContoller.js"></script>

	<!-- login -->
    <script src="/app/login/controllers/loginController.js"></script>
     
    <!-- registration -->
   	<script src="/app/registration/registrationController.js"></script>
   	<script src="/app/registration/registrationService.js"></script>
   	
   	<!-- welcome section -->
   	<script src="/app/welcome/welcome.js"></script>
   
   	<!-- inbox section -->
	<script src="/app/inbox/controllers/InboxController.js"></script>
      
    <!-- Survey Respository section -->
    <script src="/app/SurveyRepository/surveyrepository.controller.js"></script>
  </body>
</html>
