<div ng-controller="registrationController">
	<h1>Registration</h1>

	<form name="registrationForm" role="form">
		<div class="form-group">
			<label for="exampleInputEmail1">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name" required />
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Email (Your Login Id)</label>
			<input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" required />
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required />
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Confirm Password</label>
			<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" 
				ng-model="user.confirmPassword" required />
		</div>
		
		<div ng-show="!passwordsMatch()">Passwords do not match</div>

		<button type="submit" class="btn btn-primary" ng-disabled="registrationForm.$invalid" ng-click="register()">Submit</button>
		<button class="btn btn-link" ng-click="cancelRegister()">Cancel</button>
	</form>
</div>