<div ng-controller="InboxController">
	<div>
		<div style="margin: 20px 0">
			<input type="text" placeholder="Search Inbox" ng-model="searchResponsePattern"><br/>
		</div>
		
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<td>Sender</td>
					<td>Survey Title</td>
					<td>Sent On</td>
					<td>Status</td>
				</tr>
			</thead>
			<tr ng-repeat="surveyResponse in filteredSurveyResponses" ui-sref=".surveyResponseView({surveyResponseId: surveyResponse.id})">
				<td>{{surveyResponse.sender}}</td>
				<td>{{surveyResponse.title}}</td>
				<td>{{surveyResponse.createdAt}}</td>
				<td>{{surveyResponse.status}}</td>
			</tr>
		</table>
	</div>	
</div>
		