<div ng-if="surveyAnswers.length > 0" ng-controller="InboxController">

<h1>{{SurveyTitle}}</h1>

<div>
	<div class="col-md-12" style="margin-bottom: 15px;" ng-repeat="surveyAnswer in surveyAnswers">
		<div style="font-weight: bold;">
			Q{{$index + 1}}. {{surveyAnswer.questionId}}
		</div>
		<div>
			<label>
				{{surveyAnswer.answer}}
			</label>
		</div>
	</div>
	<div>
		<!--  button class="btn btn-small btn-primary" type="button" ng-click="onCancelSurveyResponse()">Cancel</button -->
		<button class="btn btn-small btn-primary" type="button" ui-sref="welcome.inbox">Cancel</button>
	</div>
</div>


</div>