<div ng-if="surveyQuestions.length > 0" ng-controller="InboxController">

<h1>{{SurveyTitle}}</h1>

<div>
	<div class="col-md-12" style="margin-bottom: 15px;" ng-repeat="surveyQuestion in surveyQuestions">
		<div style="font-weight: bold;">
			Q{{$index + 1}}. {{surveyQuestion.title}}
		</div>
		<div ng-if="surveyQuestion.type == 0">
			<label>
				A. 
			</label>
			<select>
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
		<div ng-if="surveyQuestion.type == 1">
			<input type="text">
		</div>
	</div>
	<div>
		<button class="btn btn-large btn-primary" type="button" ng-click="onCancelSurveyResponse()">Save</button>
		<button class="btn btn-large btn-primary" type="button" ng-click="onCancelSurveyResponse()">Submit</button>
		<button class="btn btn-large btn-primary" type="button" ng-click="onCancelSurveyResponse()">Cancel</button>
	</div>
</div>


</div>