 <form role="form">

     <div ng-controller="SurveyDesignerController">

        
         <div class="col-md-12">
              <h2><span class="label label-default">Create Survey</span></h2>
         <div class="form-group col-md-12">
             <div class="col-md-3"><label class=" control-label">Survey Title</label></div>
             <div class="col-md-7">
                 <input type="text" class="form-control" id="surveyTitle" placeholder="Survey Title" ng-model="Survey.title" />
             </div>
         </div>

         <div class="form-group col-md-12">
             <div class="col-md-3"><label class=" control-label">Survey Help Text</label></div>
             <div class="col-md-7">
                 <input type="text" class="form-control" id="SurveyHelpText" placeholder="Survey Help Text" ng-model="Survey.helptext" />
             </div>
         </div>
</div>

         <!--Questions Region -->
         <div class="col-md-12" id="divQuestionSection">

             <div ng-repeat="question in questionnaire" class="form-group col-md-12">
                 <div class="col-md-3"><label class=" control-label">Survey Question</label></div>
                 <div class="col-md-5">
                     <input type="text" ng-model ="question.title" class="form-control" id="surveyTitle" placeholder="Survey Question" />
                 </div>
                 <div class="col-md-2">
                     <select class="form-control input-md" ng-model="question.type" >
                         <option value="0">Scale</option>
                         <option value="1">Text</option>
                     </select>

                 </div>
                 <div class="col-md-2">
                     <button class="btn btn-default" ng-click="OnRowRemove(question)" id="btnMinus1">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                     </button>
                 </div>
             </div>

         </div>

         <!--Buttons-->
         <div class="form-group col-md-12">
             <div class="col-md-6"></div>
             <div class="col-md-6">
                 <div class="col-md-2">
                    <button ng-click="OnRowAdd()" class="btn btn-default" id="btnAddRow">  
                        <span class="glyphicon glyphicon-plus" aria-hidden="true">Question</span>
                    </button>
                </div>
                 <div class="col-md-2 "><button ng-click="OnSave()" class="btn btn-primary" id="btnSave"><span class="glyphicon glyphicon-save" aria-hidden="true">Save</span></button></div>
                 <div class="col-md-2 "><button class="btn btn-primary" id="btnCancel" ui-sref="welcome.surveyRepository">Cancel</button></div>
            </div>

         </div>

     </div>
 </form>
