﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Survey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="app.js"></script>
    <script src="SurveyDesignerContoller.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body ng-app="survey-app">
    <form role="form">

        <div ng-controller="SurveyDesignerController">

            <div class="col-md-12 alert alert-info"><h1>Create Survey</h1></div>

            <div class="form-group col-md-12">
                <div class="col-md-3"><label class=" control-label">Survey Title:</label></div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="surveyTitle" placeholder="Survey Title" ng-model="Survey.title" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-3"><label class=" control-label">Survey Help Text:</label></div>
                <div class="col-md-7">
                    <input type="text" class="form-control" id="SurveyHelpText" placeholder="Survey Help Text" ng-model="Survey.helptext" />
                </div>
            </div>


            <!--Questions Region -->
            <div class="col-md-12" id="divQuestionSection">

                <div ng-repeat="question in questionnaire" class="form-group col-md-12">
                    <div class="col-md-3"><label class=" control-label">Survey Question</label></div>
                    <div class="col-md-5">
                        <input type="text" ng-model ="question.title" class="form-control" id="surveyTitle" placeholder="Survey Question" />
                    </div>
                    <div class="col-md-2">
                        <select class="form-control input-md" ng-model="question.type" >
                            <option value="0">Scale</option>
                            <option value="1">Text</option>
                        </select>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger" ng-click="OnRowRemove(question)" id="btnMinus1">-</button>
                    </div>
                </div>

            </div>

            <!--Buttons-->
            <div class="form-group col-md-12">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="col-md-3"><button ng-click="OnRowAdd()" class="btn btn-danger" id="btnAddRow">Add New Question</button></div>
                    <div class="col-md-2 "><button ng-click="OnSave()" class="btn btn-primary" id="btnSave">Save</button></div>
                    <div class="col-md-2"><button ng-click="OnSubmit()" class="btn btn-success" id="btnSubmit">Submit</button></div>
                </div>

            </div>

        </div>


    </form>


</body>
</html>
